/**
* Edited to fit-in in the current project requirements.
* to take it back to the original replace 'x' with 'w3'
*
*/
.x-theme-l5 {color:#000 !important; background-color:#fefef8 !important}
.x-theme-l4 {color:#000 !important; background-color:#fcfae8 !important}
.x-theme-l3 {color:#000 !important; background-color:#f9f5d2 !important}
.x-theme-l2 {color:#000 !important; background-color:#f6f0bb !important}
.x-theme-l1 {color:#000 !important; background-color:#f3eba5 !important}
.x-theme-d1 {color:#000 !important; background-color:#ecdf6c !important}
.x-theme-d2 {color:#000 !important; background-color:#e8d84a !important}
.x-theme-d3 {color:#000 !important; background-color:#e3d029 !important}
.x-theme-d4 {color:#000 !important; background-color:#cbb91a !important}
.x-theme-d5 {color:#fff !important; background-color:#a99b16 !important}

.x-theme-light {color:#000 !important; background-color:#fefef8 !important}
.x-theme-dark {color:#fff !important; background-color:#a99b16 !important}
.x-theme-action {color:#fff !important; background-color:#a99b16 !important}

.x-theme {color:#000 !important; background-color:#f0e68c !important}
.x-text-theme {color:#f0e68c !important}
.x-border-theme {border-color:#f0e68c !important}

.x-hover-theme:hover {color:#000 !important; background-color:#f0e68c !important}
.x-hover-text-theme:hover {color:#f0e68c !important}
.x-hover-border-theme:hover {border-color:#f0e68c !important}
/**
* Added content below
*/
:root {
	--x-theme: #f0e68c;
	--x-theme-l5: #fefef8;
	--x-theme-l4: #fcfae8;
	--x-theme-l3: #f9f5d2;
	--x-theme-l2: #f6f0bb;
	--x-theme-l1: #f3eba5;
	--x-theme-d1: #ecdf6c;
	--x-theme-d2: #e8d84a;
	--x-theme-d3: #e3d029;
	--x-theme-d4: #cbb91a;
	--x-theme-d5: #a99b16;
}
.x-theme-khaki {color:#000 !important; background-color:#f0e68c !important}

.x-hover-theme-l5:hover {color:#000 !important; background-color:#fefef8 !important}
.x-hover-theme-l4:hover {color:#000 !important; background-color:#fcfae8 !important}
.x-hover-theme-l3:hover {color:#000 !important; background-color:#f9f5d2 !important}
.x-hover-theme-l2:hover {color:#000 !important; background-color:#f6f0bb !important}
.x-hover-theme-l1:hover {color:#000 !important; background-color:#f3eba5 !important}
.x-hover-theme-d1:hover {color:#000 !important; background-color:#ecdf6c !important}
.x-hover-theme-d2:hover {color:#000 !important; background-color:#e8d84a !important}
.x-hover-theme-d3:hover {color:#000 !important; background-color:#e3d029 !important}
.x-hover-theme-d4:hover {color:#000 !important; background-color:#cbb91a !important}
.x-hover-theme-d5:hover {color:#fff !important; background-color:#a99b16 !important}

.x-hover-theme-light:hover {color:#000 !important; background-color:#fefef8 !important}
.x-hover-theme-dark:hover {color:#fff !important; background-color:#a99b16 !important}
.x-hover-theme-action:hover {color:#fff !important; background-color:#a99b16 !important}

.x-focus-theme-l5:focus {color:#000 !important; background-color:#fefef8 !important}
.x-focus-theme-l4:focus {color:#000 !important; background-color:#fcfae8 !important}
.x-focus-theme-l3:focus {color:#000 !important; background-color:#f9f5d2 !important}
.x-focus-theme-l2:focus {color:#000 !important; background-color:#f6f0bb !important}
.x-focus-theme-l1:focus {color:#000 !important; background-color:#f3eba5 !important}
.x-focus-theme-d1:focus {color:#000 !important; background-color:#ecdf6c !important}
.x-focus-theme-d2:focus {color:#000 !important; background-color:#e8d84a !important}
.x-focus-theme-d3:focus {color:#000 !important; background-color:#e3d029 !important}
.x-focus-theme-d4:focus {color:#000 !important; background-color:#cbb91a !important}
.x-focus-theme-d5:focus {color:#fff !important; background-color:#a99b16 !important}

.x-focus-theme-light:focus {color:#000 !important; background-color:#fefef8 !important}
.x-focus-theme-dark:focus {color:#fff !important; background-color:#a99b16 !important}
.x-focus-theme-action:focus {color:#fff !important; background-color:#a99b16 !important}